:root {
    --clr-primary-400:  #303546;
    --clr-secondary-400: #7e9880;

    --clr-accent-400: #7FD1AE;
    --clr-accent-500: #f8f8f8;

    --clr-neutral-400: #f0cdcd;
    
    --fw-lighter: 100;
    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700;

    --fs-400: .75rem;
    --fs-500: 1rem;
    --fs-600: 1.5rem;
    --fs-700: 2rem;
    --fs-800: 3rem;
    --fs-900: 5rem;

}

*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

body,
html {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    max-width: 1500px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-accent-500);
    padding: 1em;
    box-shadow: 0px 1px 12px var(--clr-accent-400);
    position: sticky;
    top:0;
    z-index: 2;
}

li {
    list-style-type: none;
}

.navbar-logo img {
    max-width: 150px;
}

.navbar-links ul {
    display: flex;
    gap: 10px;
}

.navbar-links li a {
    text-decoration: none;
    color: var(--clr-primary-400);
    padding: 1em;
    font-weight: var(--fw-regular);
    letter-spacing: 2.5px;
    position: relative;
    display: block;
}

.navbar-links li a::after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 50%;
    height: 2px;
    width: 0;
    background-color: var(--clr-accent-400);
    transition: 0.4s ease-out;
}

.navbar-links li a:hover::after {
    left: 0;
    width: 100%;
}

.navbar-links li a:hover {
    color: var(--clr-secondary-400);
}

.navbar-links-cta {
    background-color: var(--clr-primary-400);
    border-radius: 5px;
    box-shadow: 1px 2px 1px var(--clr-accent-500);
}

ul .navbar-links-cta a {
    color: #fff;
}

.navbar-links-cta:hover {
    background-color: var(--clr-accent-500);
    color: var(--clr-primary-400);
    box-shadow: 1px 2px 1px var(--clr-primary-400);
}

ul .navbar-links-cta a:hover {
    color: var(--clr-primary-400);
}

ul .navbar-links-cta a:hover::after {
    width: 0;
}

.home-page {
    text-align: center;
    padding: 60px 0;
}

.home-page .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40vh;
}

.home-page .header .name {
    color: #fff;
    font-size: clamp(var(--fs-700), var(--fs-500) + 8vw, var(--fs-900));
    font-weight: var(--fw-semi-bold);
    letter-spacing: 3px;
}

.home-page .header .description {
    padding-top: 10px;
    margin-bottom: 80px;
    font-size: clamp(var(--fs-500), var(--fs-400) + 1vw, var(--fs-700));
}

.home-page .header .description .change-text {
    letter-spacing: 5px;
    color: var(--clr-neutral-400);
}

.social-links {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}

.social-links span {
    position: relative;
}

.social-links span a {
    text-decoration: none;
    background-color: var(--clr-primary-400);
    border-radius: 5px;
    box-shadow: 1px 2px 1px var(--clr-accent-500);
    font-weight: var(--fw-lighter);
    color: #fff;
    letter-spacing: 2px;
    padding: .5rem;
}

.social-links span a:hover {
    background-color: var(--clr-accent-500);
    color: var(--clr-primary-400);
    box-shadow: 1px 2px 1px var(--clr-primary-400);
}

.social-links span .fa-external-link {
    position: absolute;
    bottom: 15px;
}

.skill-page {
    padding: 2rem 0;
    background-color: var(--clr-accent-500);
    text-align: center;
}

.skill-page h2,
.project-page h2,
.about-page h2 {
    font-size: clamp(var(--fs-600),var(--fs-700) + 1vw, var(--fs-800));
    font-weight: var(--fw-regular);
    color: var(--clr-primary-400);
}

.skill-section {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.skill-section p {
    font-size: clamp(var(--fs-400),var(--fs-500) + .25vw, var(--fs-600));
    padding: 1.5rem 0;
}

.skill-section span {
    color: var(--clr-secondary-400);
    font-weight: var(--fw-bold);
}


.burger-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 4rem;
}
 
.burger-container img {
    display: block;
    width: 100%;
    max-width: 350px;
    box-shadow: 1px 10px 10px var(--clr-neutral-400);  
    cursor: pointer;
}

.burger-container img:hover {
    transform: scale(1.05);
}

.skill-section {
    display: flex;
    align-items: center;
}

.skills-carousel {
    max-width: 350px;
    margin-right: 1rem;
}

.slider-item {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 20px;
    box-shadow: 1px 1px 3px var(--clr-neutral-400); 
    margin: 1rem 0;
}

.slider-item p {  
    background-size: 100%;
    background-color: #182b3a;
    background-image: linear-gradient(315deg, #182b3a 0%, #20a4f3 74%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}   

.slider-item p,
.slider-item span {
    font-size: clamp(var(--fs-500),var(--fs-600) + .25vw, var(--fs-700));
}

.technology-container {
    display: flex;
    text-align: left;
    padding-top: 1rem;
    justify-content: space-evenly;
}

.technology-container ul li {
    list-style-type: circle;
    padding: .5rem;
}

.build-button-cta {
    text-decoration: none;
    padding: 1rem;
    background-color: var(--clr-secondary-400);
    color: #fff;
    box-shadow: 1px 1px 3px var(--clr-accent-400);
    border-radius: 5px;
}

.build-button-cta:hover {
    color: var(--clr-primary-400);
    background-color: #fff;
}

.project-page {
    padding: 2rem 0;
    text-align: center;
}

.project-container {
   background-color: var(--clr-accent-500);
   margin: 1rem;
   padding: 1rem;
   border-radius: 5px;
   display: flex;
   box-shadow: 1px 1px 5px var(--clr-primary-400);
}

.project-left {
    text-align: left;
    flex-grow: 2;
}

.project-right img {
    display: block;
    max-width: 767px;
    width: 100%;
}

.project-technology-use {
    display: flex;
}

.project-left h3,
.project-left p {
    padding: .25rem;
}

.project-technology-left,
.project-technology-right {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-left: 1rem;
}


.project-technology-left li,
.project-technology-right li{
    padding: 1rem;
    list-style: square;
}

.project-redirect {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 1rem;
}



.about-page {
    text-align: center;
    background-color: var(--clr-accent-500);
    padding: 2rem 0;
}

.about-container {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about-work,
.about-personal,
.about-coding {
    margin: 1rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 5px var(--clr-neutral-400);
}

.about-work h3,
.about-personal h3,
.about-coding h3 {
    background-size: 100%;
    background-color: #182b3a;
    background-image: linear-gradient(315deg, #182b3a 0%, #20a4f3 74%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    background-clip: text;
    -moz-text-fill-color: transparent;
    font-size: clamp(var(--fs-500),var(--fs-600) + .2vw, var(--fs-800));
}

.about-work p,
.about-personal p,
.about-coding p {
    padding: 1rem;
    font-size: clamp(var(--fs-400),var(--fs-500) + .2vw, var(--fs-600));

}

.contact-page {
    background-color: var(--clr-secondary-400);
    padding: 2rem 0;
    text-align: center;
}

.contact-page h2 {
    font-size: clamp(var(--fs-600),var(--fs-700) + 1vw, var(--fs-800));
    font-weight: var(--fw-regular);
    color: #fff;
}

.contact-container form{
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 767px;
    margin: 0 auto;
    padding: 1rem;
}

.contact-container input {
    padding: 1rem;
    background-color: var(--clr-accent-500);
    outline: none;
    border: 1px solid var(--clr-primary-400);
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 1px 1px 5px var(--clr-primary-400);
}

.contact-container form textarea {
    height: 150px;
    padding: 1rem;
    background-color: var(--clr-accent-500);
    outline: none;
    border: 1px solid var(--clr-primary-400);
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 1px 1px 5px var(--clr-primary-400);
}

.submit-contact-button {
    text-decoration: none;
    background-color: var(--clr-primary-400);
    border-radius: 5px;
    box-shadow: 1px 2px 1px var(--clr-accent-500);
    font-weight: var(--fw-lighter);
    color: #fff;
    letter-spacing: 2px;
    padding: .5rem;
}

.submit-contact-button:hover {
    background-color: var(--clr-accent-500);
    color: var(--clr-primary-400);
    box-shadow: 1px 2px 1px var(--clr-primary-400);
    cursor: pointer;
}

.footer-page {
    text-align: center;
    padding: 2rem 0;
    background-color: var(--clr-accent-500);
}

.footer-socials {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 1rem;
    letter-spacing: 3px;
}

.footer-socials a {
    text-decoration: none;
    color: var(--clr-primary-400)
}

.footer-socials a:hover {
    cursor: pointer;
    color: var(--clr-secondary-400);
}

nav .fa-bars {
    color: var(--clr-primary-400);
    cursor: pointer;
    padding: 1rem;
}


@media (max-width: 767px) {
    .navbar-links {
        display: none;
    }
    .skill-section {
        flex-direction: column;
        justify-content: center;
    }
    .skills-carousel {
        max-width: 300px;
        margin: 0;
    }
    .project-container {
        flex-direction: column;
    }

    nav {
        position: relative;
        margin: 0;
        padding: 0;
        position: sticky;
    }

    nav .active{
        position:absolute;
        display: block;
        width: 100%;
        top: 90px;
        text-align: center;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: var(--clr-primary-400);
        color: #fff;
    }

    .navbar-links ul li a {
        color: #fff;
    }
}

@media (min-width: 767px) {
    nav .fa-bars {
        display: none;
    }
}

.skill-page,
.project-page,
.about-page,
.contact-page
{
    position: relative;
}

#skills,
#projects,
#about,
#contact {
    position: absolute;
    top:-150px;
}

