:root {
    --clr-primary-400:  #303546;
    --clr-secondary-400: #7e9880;

    --clr-accent-400: #7FD1AE;
    --clr-accent-500: #f8f8f8;

    --clr-neutral-400: #f0cdcd;
    
    --fw-lighter: 100;
    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700;

    --fs-400: .75rem;
    --fs-500: 1rem;
    --fs-600: 1.5rem;
    --fs-700: 2rem;
    --fs-800: 3rem;
    --fs-900: 5rem;

}

*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

body,
html {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    max-width: 1500px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-accent-500);
    padding: 1em;
    box-shadow: 0px 1px 12px var(--clr-accent-400);
    position: sticky;
    top:0;
    z-index: 2;
}

li {
    list-style-type: none;
}

.navbar-logo img {
    max-width: 150px;
}

.navbar-links ul {
    display: flex;
    gap: 10px;
}

.navbar-links li a {
    text-decoration: none;
    color: var(--clr-primary-400);
    padding: 1em;
    font-weight: var(--fw-regular);
    letter-spacing: 2.5px;
    position: relative;
    display: block;
}

.navbar-links li a::after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 50%;
    height: 2px;
    width: 0;
    background-color: var(--clr-accent-400);
    transition: 0.4s ease-out;
}

.navbar-links li a:hover::after {
    left: 0;
    width: 100%;
}

.navbar-links li a:hover {
    color: var(--clr-secondary-400);
}

.navbar-links-cta {
    border-radius: 5px;
    box-shadow: 1px 1px 5px var(--clr-accent-400);
    background-color: var(--clr-secondary-400);
}

ul .navbar-links-cta a {
    color: #fff;
}

.navbar-links-cta:hover {
    background-color: #fff;
}

ul .navbar-links-cta a:hover {
    color: var(--clr-primary-400);
}

ul .navbar-links-cta a:hover::after {
    width: 0;
}

.home-page {
    text-align: center;
    padding: 60px 0;
}

.home-page .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40vh;
}

.home-page .header .name {
    color: #fff;
    font-size: clamp(var(--fs-700), var(--fs-500) + 8vw, var(--fs-900));
    font-weight: var(--fw-semi-bold);
    letter-spacing: 3px;
}

.home-page .header .description {
    padding-top: 10px;
    margin-bottom: 80px;
    font-size: clamp(var(--fs-500), var(--fs-400) + 1vw, var(--fs-700));
}

.home-page .header .description .change-text {
    letter-spacing: 5px;
    color: var(--clr-neutral-400);
}

.social-links {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}

.social-links span {
    position: relative;
}

.social-links span a {
    text-decoration: none;
    background-color: var(--clr-primary-400);
    border-radius: 5px;
    box-shadow: 1px 2px 1px var(--clr-accent-500);
    font-weight: var(--fw-lighter);
    color: #fff;
    letter-spacing: 2px;
    padding: .5rem;
}

.social-links span a:hover {
    background-color: var(--clr-accent-500);
    color: var(--clr-primary-400);
    box-shadow: 1px 2px 1px var(--clr-primary-400);
}

.social-links span .fa-external-link {
    position: absolute;
    bottom: 15px;
}


.skill-page {
    padding: 1rem 0;
    background-color: var(--clr-accent-500);
    text-align: center;
}

.skill-page h2 {
    font-size: clamp(var(--fs-600),var(--fs-700) + 1vw, var(--fs-800));
    font-weight: var(--fw-regular);
    color: var(--clr-primary-400);
}

.skill-section {
    display: flex;
    justify-content: center;
}

.skill-section p {
    font-size: clamp(var(--fs-400),var(--fs-500) + .25vw, var(--fs-600));
    padding: 1.5rem 0;
}

.skill-section span {
    color: var(--clr-secondary-400);
    font-weight: var(--fw-bold);
}


.burger-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 4rem;
}
 
.burger-container img {
    display: block;
    width: 100%;
    max-width: 350px;
    box-shadow: 1px 10px 10px var(--clr-neutral-400);  
    cursor: pointer;
}

.burger-container img:hover {
    transform: scale(1.05);
}

.skill-section {
    display: flex;
    align-items: center;
}

.skills-carousel {
    max-width: 350px;
    margin-right: 1rem;
}

.slider-item {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 20px;
    box-shadow: 1px 1px 3px var(--clr-neutral-400); 
    margin: 1rem 0;
}

.technology-container {
    display: flex;
    text-align: left;
}

.technology-container ul li {
    padding: .5rem;
    line-height: 1.5rem;
}

@media (max-width: 767px) {
    .navbar-links {
        display: none;
    }
    .skill-section {
        flex-direction: column;
        justify-content: center;
    }
    .skills-carousel {
        max-width: 300px;
        margin: 0;
    }

}

.skill-page,
.project-page{
    position: relative;
}

#skills,
#projects {
    position: absolute;
    top:-150px;
}

