* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    max-width: 1500px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 0 1em;
    box-shadow: 0px 10px 12px #7FD1AE;
    position: sticky;
    top:0;
    z-index: 2;
}

.navbar-logo img {
    height: 125px;
    padding: 1em;
}

.navbar-links ul {
    display: flex;
    gap: 10px;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: #000;
    padding: 1em;
    font-weight: 350;
    letter-spacing: 2.5px;
    position: relative;
    display: block;
}

.navbar-links li a::after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 50%;
    height: 2px;
    width: 0;
    background-color: #7FD1AE;
    transition: 0.4s ease-out;
}

.navbar-links li a:hover::after {
    left: 0;
    width: 100%;
}

.navbar-links li a:hover {
    color: #7e9880;
}

.navbar-links-cta {
    border-radius: 5px;
    box-shadow: 1px 1px 5px #7FD1AE;
    background-color: #7e9880;
}

ul .navbar-links-cta a {
    color: #fff;
}

.navbar-links-cta:hover {
    background-color: #fff;

}

ul .navbar-links-cta a:hover {
    color: #000;
}

ul .navbar-links-cta a:hover::after {
    width: 0;
}

.home-page-section {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20vh 3em; 
    display: flex;
    flex-direction: column;
}

.home-page-section .name {
    color: #fff;
    font-size: 5em;
    font-weight: 400;
    letter-spacing: 3px;
}

.home-page-section .description {
    padding: 5rem 0;
    text-align: end;
    font-size: 1.5em;
}

.home-page-section .description .change-text {
    letter-spacing: 5px;
    color: #f0cdcd;
}

.home-page-section .social-links {
    font-size: 2em;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
}

.social-links span {
    min-width: 200px;
}

.social-links span a {
    text-decoration: none;
    background-color: #303546;
    border-radius: 5px;
    box-shadow: 1px 2px 1px #f8f8f8;
    display: block;
    font-weight: 100;
    color: #fff;
    letter-spacing: 2px;
}

.social-links span a:hover {
    background-color: #f8f8f8;
    color: #303546;
    box-shadow: 1px 2px 1px #303546;
}

/* small screen */
@media only screen and (max-width: 640px) {
    .home-page-section .name {
        font-size: 3rem;
    }
    .home-page-section .description {
        text-align: start;
        font-size: 1rem;
    }
    .home-page-section .social-links {
        font-size: 1.25rem;
    }

}

/* medium screen */
@media only screen and (max-width: 768px) {
    .navbar-links {
        display: none;
    }
}