* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    padding: 1.5em;
    background-color: #f8f8f8;
}

.header-logo {
    flex: 1;
}

nav>ul{
    display:flex;
    gap: 16px;
}

nav>ul>li {
    list-style: none;
}

nav>ul>li>a {
    text-decoration: none;
    color: #000;
}